<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">
            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-6 col-xl-5 mx-auto">
                    <div class="card" style="border: 2px solid #e8ebf1;border-radius: 30px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="auth-form-wrapper py-5"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                    <a class="noble-ui-logo d-block mb-2"><span
                                            style="color: black;font-weight: 500;">E-</span> <span> Banking</span></a>
                                    <p class="text-muted font-weight-normal mb-4">Forget Password</p>
                                    <form (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
                                        <div class="alert alert-success" role="alert" *ngIf="successMessages">
                                            {{ successMessages }}
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="errorMessages">
                                            {{ errorMessages }}
                                        </div>
                                        <div class="alert alert-danger" role="alert"
                                            *ngIf="f.submitted && !email.valid">
                                            email is required
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="email" name="email"
                                                [(ngModel)]="user.email" #email="ngModel" autofocus required> 
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-outline-danger" type="submit"
                                                style="border-radius: 1rem;" [disabled]="disable">Send Reset Password Link</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>